@import '../../../node_modules/react-calendar/dist/Calendar.css';
@import '../../../node_modules/react-confirm-alert/src/react-confirm-alert.css';

.homeBackground {
    padding-top: 50px;
}

.tasksCard{
    max-height: 60vh;
    overflow: auto;
}

.form-control{
    margin-bottom: 5px;
}